<!doctype html>
<html>
    
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<title>DOCUMENT READER</title>

<link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">

<!-- Bootstrap core CSS -->
<link href="/static/css/bootst<div class="col-md-6" style="background-color:white;">

<div class="col-md-6" style="background-color:white;">
</div>



<!-- Custom styles for this template -->
<link href="/static/css/form_upload.css" rel="stylesheet">
</head>
<body class="text-center">
<main class="form-Upload">
<form method=post enctype=multipart/form-data>
<label for="dtype">Document Type :</label>
<select name="type" id="dtype">
    <option value="Aadhar_Card">Aadhar Card</option>
    <option  value="Driving_Licence">Driving Licence</option>
    <option value="Pancard">Pancard</option>
    
</select>
<h1 class="h3 mb-3 fw-normal">Please Upload Image</h1>
<input type="file" name=image class="form-control" id="image">
<input class="w-25 btn btn-lg btn-primary" type="submit" value="Extract">
<br>

</form>
<body>
    {% for key, value in extract.items() %}
    {{ key }} : {{ value }}
    <br/>
{% endfor %}
</body>
</main>
</html>
